@model IEnumerable<Pergunta>
@{
    Layout = "_LayoutB";
}

<img src="~/cat.JPG" asp-append-version="true" />
<ul>
    @foreach (var item in Model)
    {
        <li>
            <p>@item.Id</p>
            <p>@item.Autor</p>
            <p>@item.Descricao</p>
        </li>
    }
</ul>

<email mail-to="kenzo"></email>

<h1>ViewBag @ViewBag.Nome</h1>
<h1>VieData @ViewData["NomeDoAluno"]</h1>
<h1>VieData @ViewData["Nome"]</h1>

<vc:noticias total="10" noticia-urgente="true"></vc:noticias>
@*@await Component.InvokeAsync("Noticias", new { total = 3, noticiaUrgente = false })*@